* {
	font-family: Tahoma, sans-serif;
	color: #615B5B;
	}
	
body {
	width: 1000px;
    margin: 0 auto;
	background-color: #F2ECE6;
	text-align: center;
}

header {
    background-color: #F0C7D7;
    padding: 10px;
	margin: 10px;
}

nav {
    background-color: #A5D0E6;
    padding: 10px;
	margin: 10px;
}

section {
    margin: 0;
}

article {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px;
}

h1 {
	font-family: Times New Roman, serif;
	font-size: 40px;
    color: #615B5B;
}

h2 {
    color: #A8C3A0;
}

img {
    border: 5px dashed #F0C7D7;
	margin: 10px;
}

footer {
    margin: 20px;
	font-size: 12px;
}

.dish {
    border: 5px solid #F0C7D7;
	margin: 10px;
}

.recipe {
    overflow: auto;
}

.recipe article {
    width: 440px;
	padding: 20px;
	float: left;
	margin: 10px;
}

.recipe ul,
.recipe ol {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}